//primary text color on light background
$primary-black: #323232;
//secondary text color, inactive cta
$primary-silver: #afafaf;
//Primary text color for light on dark background. Light background color. Active CTA text color.
$primary-white: #ffffff;

// secondary colors

//cta hover
$secondary-black: #000000;
//divider line, form field outline
$secondary-mercury: #e1e1e1;
//alternative light background color
$seconday-alabaster: #fafafa;
