//THIS IS THE MAIN/GLOBAL SCSS
@use "partials/colors.scss" as *;
@use "partials/reset.scss" as *;
@use "partials/mixins.scss" as *;
@use "partials/fonts.scss" as *;
@use "partials/padding.scss" as *;

body {
  font-family: "AvenirNextLTPro-Regular";
}

header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $primary-black;
  @include tablet {
    flex-direction: row;
    width: 50%;
  }
  @include desktop {
    margin-left: 2.9375rem;
  }
  &__header-image {
    @include logo;
    margin: 1rem 0 0;
    @include tablet {
      margin: $tablet-other-padding;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    @include desktop {
      justify-content: flex-start;
    }
  }
  &__link-container {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: $other-padding;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      width: 7vw;
    }
    &--active {
      border-bottom: 0.25rem solid $primary-white;
      @include tablet {
        border-bottom: none;
      }
    }
    &:hover {
      border-bottom: 0.25rem solid $primary-white;
      @include tablet {
        border-bottom: none;
      }
    }
  }
  &__link {
    @include body-copy;
    color: $primary-silver;
    &--active {
      font-weight: 700;
      color: $primary-white;
      @include tablet {
        border-bottom: 0.25rem solid $primary-white;
        padding-bottom: 2rem;
      }
    }
    &:hover {
      color: $primary-white;
    }
  }
}

.main {
  color: $primary-black;
  &__container {
    color: #323232;
  }
  &__top {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
      url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include tablet {
      height: 50vh;
    }
    &-header {
      @include page-header;
      color: $primary-white;
      margin-left: $other-padding;
      @include tablet {
        margin-left: $tablet-other-padding;
      }
      @include desktop {
        margin-left: 4.9375rem;
      }
    }
  }
  &__article {
    padding: 0 $other-padding;
    display: flex;
    flex-direction: column;
    @include tablet {
      padding: 0 $tablet-other-padding;
    }
    @include desktop {
      margin: 0 3.9375rem 0;
    }
    &-header {
      @include page-header;
      margin: $before-heading-padding 0 $other-padding;
      @include tablet {
        @include section-header;
        margin: $tablet-heading-padding 0 $tablet-other-padding;
      }
      &-image {
        padding-bottom: $other-padding;
        width: 100%;
        @include tablet {
          padding: 0 $tablet-heading-padding $tablet-other-padding;
        }
      }
    }
    &-subheader {
      @include body-copy;
      font-weight: 600;
      @include tablet {
        padding: 0 $tablet-heading-padding 0;
      }
      &--bold {
        font-weight: 700;
        @include tablet {
          @include subheader;
          margin-bottom: $other-padding;
        }
        @include desktop {
          width: 74%;
        }
      }
      &--regular {
        @include subheader;
        @include tablet {
          margin: 0 0 $tablet-other-padding;
        }
      }
      &--title {
        margin: $before-heading-padding 0 $other-padding;
        @include tablet {
          @include subheader;
          font-weight: 700;
        }
      }
    }
    &-div {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
        margin: 0 $tablet-heading-padding;
      }
      &-paragraph {
        @include body-copy;
        font-weight: 400;
        margin: 0 0 $other-padding;
        @include tablet {
          margin: 0 0 $tablet-other-padding;
        }

        &-left {
          @include tablet {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
  &__gallery {
    background: $secondary-mercury;
    padding: 0 $other-padding;
    @include tablet {
      padding: 0 $tablet-other-padding;
    }
    @include desktop {
      padding: 0 6.1875rem;
    }
    &-header {
      @include page-header;
      padding: $before-heading-padding 0 0;
      @include tablet {
        @include section-header;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      @include tablet {
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    &-image {
      margin: $other-padding 0 0;
      @include tablet {
        width: 14rem;
        height: 8rem;
      }
      @include desktop {
        width: 22rem;
        height: 12rem;
      }
    }
    &--bottom-margin {
      margin-bottom: $other-padding;
      @include tablet {
        margin-bottom: $tablet-other-padding;
      }
    }
  }
  &__comments {
    background-color: $primary-white;
    &-header {
      @include page-header;
      padding: $before-heading-padding 0 $other-padding $other-padding;
    }
    &-article {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid $secondary-mercury;
    }
    &-avatar {
      max-width: 2.25rem;
      max-height: 2.25rem;
      border-radius: 50%;
      margin-top: $before-heading-padding;
    }
    &-label {
      @include labels-buttons;
      color: $secondary-mercury;
    }
    &-field {
      width: 80vw;
      padding: 0.75rem;
      border: 1px solid $secondary-mercury;
      border-radius: 0.25rem;
      margin-bottom: $other-padding;
    }
    &-field--padding-bottom {
      padding-bottom: 5rem;
    }
    &-button {
      width: 100%;
      height: 2.5rem;
      border: none;
      border-radius: 0.25rem;
      background-color: $primary-black;
      color: $primary-white;
      @include labels-buttons;
      margin-bottom: $other-padding;
      font-size: 1rem;
    }
  }
}

.main__comments-card {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid $secondary-mercury;
  padding-top: $other-padding;
}

.main__comments-empty-avatar {
  background-color: $secondary-mercury;
  max-width: 2.25rem;
  max-height: 2.25rem;
  border-radius: 50%;
}

.main__comments-card__right {
  width: 80vw;
}
.main__comments-card__right-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}

.main__comments-card__right-top-header {
  @include body-copy;
  font-weight: 700;
}

.main__comments-card__right-top-date {
  @include body-copy;
  color: $secondary-mercury;
}

.main__comments-card__bottom-paragraph {
  @include body-copy;
  padding-bottom: $other-padding;
}

.footer {
  background: $primary-black;
  color: $primary-white;
  padding-left: $other-padding;
  @include tablet {
    padding-left: $tablet-other-padding;
    position: relative;
  }
  &__header {
    @include section-header;
    margin: 0 0 $other-padding;
    padding-top: $before-heading-padding;
    @include tablet {
      align-self: center;
      padding-bottom: 0.5rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    &-top {
      @include tablet {
        padding-top: 0.75rem;
      }
      @include desktop {
        margin-left: 3.9375rem;
      }
    }
    &-middle {
      @include tablet {
        justify-content: space-evenly;
        margin-left: -2.5rem;
      }
      @include desktop {
        width: 75%;
        margin-left: -1rem;
      }
    }
  }
  &__icon-container {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    align-items: center;
    @include tablet {
      justify-content: space-evenly;
    }
    @include desktop {
      margin-left: 2rem;
      width: 25vw;
    }
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__logo-image {
    @include logo;
    @include tablet {
      position: absolute;
      top: $tablet-heading-padding;
      right: $tablet-other-padding;
    }
  }

  &__paragraph {
    @include footer-copy;
    &--bold {
      font-weight: 700;
      line-height: 1.125rem;
      @include tablet {
        line-height: 1.25rem;
      }
    }
    &--top-padding--large {
      padding-top: $before-heading-padding;
    }
    &--bottom-padding--small {
      padding-bottom: $other-padding;
    }
    &--top-padding--small {
      padding-top: $other-padding;
      @include desktop {
        margin-left: 3.9375rem;
      }
    }
    &--bottom-padding--large {
      padding-bottom: 2.5rem;
    }
  }
}
