@use "partials/colors.scss" as *;
@use "partials/reset.scss" as *;
@use "partials/mixins.scss" as *;
@use "partials/fonts.scss" as *;
@use "partials/padding.scss" as *;

.main {
  color: $primary-black;
  &__container {
    color: #323232;
  }
  &__top {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
      url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: $primary-white;
    padding: 0 $other-padding;
    @include tablet {
      padding-left: $tablet-other-padding;
      height: 60vh;
    }
    @include desktop {
      padding-left: 7.25rem;
      height: 70vh;
      position: relative;
    }
    &-subheader {
      @include subheader;
      padding: $before-heading-padding 0;
      font-weight: 400;
      @include tablet {
        padding-top: 3rem;
      }
      @include desktop {
        padding-top: 8.5rem;
      }
    }
    &-header {
      @include page-header;
      @include desktop {
        display: none;
      }
      &-desktop {
        display: none;
        @include desktop {
          display: inline;
          @include page-header;
        }
      }
    }
  }
  &__iframe {
    margin-top: $other-padding;
    width: 100%;
    height: 6.25rem;
    @include tablet {
      width: 26rem;
    }
    @include desktop {
      position: absolute;
      top: 11.5rem;
      right: 10rem;
      height: 8rem;
    }
  }
  &__shows {
    background-color: $primary-white;
    @include desktop {
      padding-left: 5rem;
      display: flex;
      flex-direction: row;
    }
    &-desktop {
      @include desktop {
        display: flex;
        flex-direction: column;
        width: 77%;
        padding: 28px 0;
      }
    }
    &-header {
      @include section-header;
      padding: $before-heading-padding 0 0 $other-padding;
      @include tablet {
        padding: $tablet-heading-padding 0 0 $tablet-other-padding;
      }
      @include desktop {
        padding-right: $tablet-heading-padding;
      }
    }
    &-labels {
      display: none;
      @include tablet {
        display: flex;
        justify-content: space-between;
        padding: $tablet-other-padding $tablet-other-padding 0;
      }
    }
    &-empty {
      width: 18%;
    }
    &-container {
      display: flex;
      flex-direction: column;
      padding: $other-padding;
      border-bottom: 1px solid $secondary-mercury;
      &:hover {
        background-color: #fafafa;
      }
      // &:active {
      //   background-color: $secondary-mercury;
      // }
      &--toggle {
        background-color: $secondary-mercury;
      }
      @include tablet {
        flex-direction: row;
        align-items: center;
        // justify-content: flex-start;
        justify-content: space-between;
        padding: $other-padding 1.125rem;
        margin: 0 1.125rem;
      }
    }
    &-titles {
      @include labels-buttons;
      color: $primary-silver;
      @include tablet {
        display: none;
      }
      &-tablet {
        @include labels-buttons;
        color: $primary-silver;
        width: 23%;
        margin-right: $tablet-other-padding;
      }
    }
    &-info {
      @include body-copy;
      @include tablet {
        width: 23%;
        margin-right: $tablet-other-padding;
      }
      &--bold {
        font-weight: 600;
      }
    }
    &-button {
      @include button;
      margin-top: $other-padding;
      margin-bottom: 0;
      @include tablet {
        width: 18%;
        margin-top: 0;
      }
    }
  }
}
