/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.eot");
  src: url("../../assets/Font/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.eot");
  src: url("../../assets/Font/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.eot");
  src: url("../../assets/Font/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.main {
  color: #323232;
}
.main__container {
  color: #323232;
}
.main__top {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .main__top {
    padding-left: 2.25rem;
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .main__top {
    padding-left: 7.25rem;
    height: 70vh;
    position: relative;
  }
}
.main__top-subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 1.5rem 0;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main__top-subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .main__top-subheader {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__top-subheader {
    padding-top: 8.5rem;
  }
}
.main__top-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main__top-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .main__top-header {
    display: none;
  }
}
.main__top-header-desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .main__top-header-desktop {
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) {
  .main__top-header-desktop {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.main__iframe {
  margin-top: 1rem;
  width: 100%;
  height: 6.25rem;
}
@media screen and (min-width: 768px) {
  .main__iframe {
    width: 26rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__iframe {
    position: absolute;
    top: 11.5rem;
    right: 10rem;
    height: 8rem;
  }
}
.main__shows {
  background-color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .main__shows {
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .main__shows-desktop {
    display: flex;
    flex-direction: column;
    width: 77%;
    padding: 28px 0;
  }
}
.main__shows-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .main__shows-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .main__shows-header {
    padding: 3rem 0 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__shows-header {
    padding-right: 3rem;
  }
}
.main__shows-labels {
  display: none;
}
@media screen and (min-width: 768px) {
  .main__shows-labels {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 2.25rem 0;
  }
}
.main__shows-empty {
  width: 18%;
}
.main__shows-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
.main__shows-container:hover {
  background-color: #fafafa;
}
.main__shows-container--toggle {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .main__shows-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.125rem;
    margin: 0 1.125rem;
  }
}
.main__shows-titles {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .main__shows-titles {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .main__shows-titles {
    display: none;
  }
}
.main__shows-titles-tablet {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
  width: 23%;
  margin-right: 2.25rem;
}
@media screen and (min-width: 768px) {
  .main__shows-titles-tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.main__shows-info {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main__shows-info {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .main__shows-info {
    width: 23%;
    margin-right: 2.25rem;
  }
}
.main__shows-info--bold {
  font-weight: 600;
}
.main__shows-button {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #ffffff;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .main__shows-button {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .main__shows-button {
    width: 18%;
    margin-top: 0;
  }
}/*# sourceMappingURL=shows.css.map */